.background {
  background-color: rgba(25, 29, 41, 0.95);
  background-image: url("/images/home/Background.png");
  background-position: center top;
  /* background-size: cover; */
  background-repeat: no-repeat;
  padding: 4rem 1rem;
}

@media only screen and (min-width: 900px) {
  .bottomBackground {
    /* background-color: rgba(25, 29, 41, 0.95); */
    background-image: url("/images/home/Spiral.png"),
      url("/images/home/Star.png");
    background-position: right bottom, left center;
    background-size: auto, contain;
    background-repeat: no-repeat;
  }
}
